.logo {
    padding: 0 0 0 4%;
}

.pic1 {
    text-align: center;
}

.pic2 {
    text-align: center;
}

.box {
    text-align: left;
    margin: 50px auto;
    width: 700px;
    color: rgba(0,0,0,0.84);
}

.box > header, section {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    margin-top: 55px;
    line-height: 33px;
}

header > h1 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 42px;
    margin-bottom: 10px;
    line-height: 44px;
}

header > p {
    margin-top: 5px;
}

section > h2 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 34px;
    margin-bottom: 5px;
    line-height: 39px;
}

section > p {
    margin-top: 5px;
}

code {
    font-family: "Courier New", monospace;
    background-color: rgb(241,241,241);
}

.header {
    background-color: #faf9f8;
    height: 60px;
    border: 1px black solid;
    border-left: 0;
    border-right: 0;
    padding-top: 20px;
}
.header li {
    margin: auto;
    display: inline;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 24px;
    color: #333333;
    text-align: left;
    line-height: 36px;
    padding: 15px;
}
.header li:hover {
    text-decoration: underline;
}
.header .current_page {
    color: #d0021b;
}

@media only screen and (max-width: 800px) {
    .header.header {
        height: 250px;
    }

    .header li {
        display: block;
        padding: 5px 0;
    }
}